{% extends 'main/layout.html' %}

{% block title %}
    Добавить животное
{% endblock %}

{% block content %}
    <h1 class="title"><center>Форма добавления животного</center></h1>

    <form class="form" method="post">
        {% csrf_token %}
        {{ form.type }}<br><br>
        {{ form.name }}<br>
        {{ form.birthday }}<br>
        {{ form.height }}<br>
        {{ form.weight }}<br>
        <label> Есть паспорт? </label><br>
        {{ form.passport }}
        <script>
            function agreeForm(f) {
                if (f.passport.checked) f.pass_num.disabled = 0
                else f.pass_num.disabled = 1
           }
        </script>
        {{ form.pass_num }}<br>
        <br>
        <button class="btn btn-success" type="submit"> Сохранить </button>
    </form>
{% endblock %}

