{% extends 'main/layout.html' %}

{% block title %}
    Список животных
{% endblock %}

{% block content %}
    <h1 class="title">Список животных в приюте</h1><br>
    <form class="filter" method="get">
        {{ filter.form.as_p }}
        <button type="submit" class="btn btn-outline-primary">Фильтровать</button>
    </form><br>
    {% if object_list %}
        <table class="table table-striped table-hover" style="width:100%">
            <tr>
                <th>Тип животного</th>
                <th>Кличка</th>
                <th>Дата рождения</th>
                <th>Возраст</th>
                <th>Рост, см</th>
                <th>Вес, кг</th>
                <th>Наличие паспорта</th>
                <th>Номер паспорта</th>
            </tr>
        {% for object in filter.qs %}
            <tr>
                <td>{{ object.type }}</td>
                <td>{{ object.name }}</td>
                <td>{{ object.birthday }}</td>
                <td>{{ object.birthday|timesince }}</td>
                <td>{{ object.height }}</td>
                <td>{{ object.weight }}</td>
                {% if object.passport %}
                    <td> Есть </td>
                {% else %}
                    <td> Нет </td>
                {% endif %}
                {% if object.pass_num %}
                    <td>{{ object.pass_num }}</td>
                {% else %}
                    <td> - </td>
                {% endif %}
                <td width="5%"><a href="{% url 'update' object.id %}" class="btn btn-outline-info">Редактировать</a></td>
                <td width="5%"><a href="{% url 'delete' object.id  %}" class="btn btn-danger">Удалить</a></td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>Нет записей</p>
    {% endif %}
        <br>
        <a href="{% url 'add' %}" class="btn btn-primary">Добавить животное</a>
{% endblock %}